<!DOCTYPE html>
<html lang="utf-8">
<head>
  <meta lang= "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/estilomasxmas.css">
<link rel="stylesheet" href="/static/stylesheets/base.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

<!-- Optional theme -->
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/app.js"></script>

</head>
<body>
  <div class="container">
    <div class="header">
      <a href="{%url 'masxmas' %}">
        <div class="images" href="#"></div>
        <h1 href="#" >Administrador</h1>
      </a>
      <div class="headeright">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            {{ user.first_name }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'contrasena_masxmas' 2 %}"><i class="fa fa-cog"> </i>  Cambiar Contraseña</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'url_logout' %}"><i class="fa fa-sign-out"></i>  Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="menu">
      <ul class = "lista-menu">
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-align-left"></i> <p>Clientes</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'masxmas'%}"><i class="fa fa-plus-square"></i>Ver Clientes Activos</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'masxmas_inactivos'%}"><i class="fa fa-plus-square"></i>Ver Clientes Inactivos</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'clientesnuevos'%}"><i class="fa fa-eye"></i> Clientes Nuevos </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'createClienteContro'%}"><i class="fa fa-plus-square"></i>Crear Cliente</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-map-marker"></i> <p>Rutas</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'rutas_list'%}"><i class="fa fa-eye"></i> Ver Rutas </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'rutas_new'%}"><i class="fa fa-plus-square"></i> Crear Ruta </a></li>
          </ul>
        </div>
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu2" data-toggle="dropdown"><i class="fa fa-car"></i> <p>Repartidor</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu2">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'reportidores_list' %}"><i class="fa fa-eye"></i> Ver Repartidor </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'repartidor_new' %}"><i class="fa fa-plus-square"></i> Creas Repartidor </a></li>
          </ul>
        </div>
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu3" data-toggle="dropdown"><i class="fa fa-share-alt-square"></i> <p>Categoría</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu3">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'categoria_list'%}"><i class="fa fa-eye"></i> Ver Categoría </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'categoria_new'%}"><i class="fa fa-plus-square"></i> Crear Categoría </a></li>
          </ul>
        </div>
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu4" data-toggle="dropdown"><i class="fa fa-trello"></i> <p>Sub-categoría 1</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu4">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'subcategoria1_list' %}"><i class="fa fa-eye"></i> Ver Sub-categoría 1 </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'subcategoria1_new' %}"><i class="fa fa-plus-square"></i>Crear Sub-categoría 1</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu5" data-toggle="dropdown"><i class="fa fa-trello"></i> <p>Sub-categoría 2</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu4">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'subcategoria2_list' %}"><i class="fa fa-eye"></i> Ver Sub-categoría 2 </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'subcategoria2_new' %}"><i class="fa fa-plus-square"></i>Crear Sub-categoría 2</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu5" data-toggle="dropdown"><i class="fa fa-trello"></i> <p>Sub-categoría 3</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu4">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'subcategoria3_list' %}"><i class="fa fa-eye"></i> Ver Sub-categoría 3</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'subcategoria3_new' %}"><i class="fa fa-plus-square"></i>Crear Sub-categoría 3</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu5" data-toggle="dropdown"><i class="fa fa-thumbs-up"></i> <p>Campañas</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu5">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'campanialist'%}"><i class="fa fa-eye"></i>Campañas Activas</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'campanialistFalse' %}"><i class="fa fa-eye"></i>Camapañas Inactivas</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <li class = "menu_option" id="dropdownMenu5" data-toggle="dropdown"><i class="fa fa-envelope"></i> <p>Quejas</p><span class="fa fa-caret-down"></span></li>
          <ul class="dropdown-menu dropdown-bajo" role="menu" aria-labelledby="dropdownMenu5">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'consulta_quejasmasxmas' 2%}"><i class="fa fa-eye"></i> Ver Queja </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'consulta_quejasmasxmas_baja' 2%}"><i class="fa fa-eye"></i> Ver Quejas de Baja </a></li>
             <!--  <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'subcategoria1_new' %}"><i class="fa fa-plus-square"></i>Crear Queja</a></li> -->
          </ul>
        </div>
      </ul>
    </div>
    <div class="contenido">
      {% block content %}
      {% endblock %}
       {% block js %}
      {% endblock %}
    </div>
  </div>
  {%block script %}
  {% endblock %}
</body>
</html>