{% extends 'adminfrente.html' %}
{% block content %}
	<div class="campania-view">
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th>Campaña</th>
						<th>Aliado</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						{% for campania in object_list.object_list %}
						<tr>
							<th>
								<p>{{ campania.descripcion}}</p>
							</th>
							<th>
								<p>{{ campania.aliado}}</p>
							</th>
							<th>
								<p><a href="{% url 'campania_edit' campania.id %}" class=" editar-campania btn btn-default">Editar</a></p>
							</th>
						</tr>
					{% endfor%}
					</tr>
				</tbody>
			</table>
			{% load i18n %}
			<div class="paginas">
				<ul class="pagination">
				    {% if object_list.has_previous %}
				        <li class="previous"><a href="?{{ object_list.previous_page_number.querystring }}" >&lsaquo;&lsaquo; {% trans "Anterior" %}</a></li>
				    {% else %}
				        <li  class="disabled prev" ><span>&lsaquo;&lsaquo; {% trans "Anterior" %}</span></li>
				    {% endif %}
				    {% for page in object_list.pages %}
				        {% if page %}
				            {% ifequal page object_list.number %}
				                <li class="now current page"><span>{{ page }}</span></li>
				            {% else %}
				                <li class="page"><a href="?{{ page.querystring }}" >{{ page }}</a></li>
				            {% endifequal %}
				        {% else %}
				            <li class="unknown page"><span>...</span></li>
				        {% endif %}
				    {% endfor %}
				    {% if object_list.has_next %}
				        <li class="next"><a href="?{{ object_list.next_page_number.querystring }}" >{% trans "Siguiente" %} &rsaquo;&rsaquo;</a></li>
				    {% else %}
				        <li><span class="disabled next">{% trans "Siguiente" %} &rsaquo;&rsaquo;</span></li>
				    {% endif %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}